{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitCal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <!-- 載入自定義 Tailwind 樣式以覆蓋 flatpickr -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!-- JS (defer) -->

    <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" defer src="{% static 'js/flatpickr/main.js' %}"></script>

    <!-- Alpine CDN -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <h1 class="bg-amber-500 text-gray-700">這裏是模板</h1>
    {% block main %}{% endblock main %}
  </body>
</html>
