{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitCal</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}" />
    <script type="module" src="{% static 'assets/scripts/app.js' %}"></script>
  </head>
  <body>
    {% include 'shared/messages.html' %}
    <h1 class="bg-amber-500 text-gray-700">這裏是模板</h1>
    <h2 class="text-blue-500 text-right">user id: {{user.id}}</h2>
    <div class="flex justify-end text-blue-500">
      {% if user.is_authenticated %}
      <p class="flex items-center">用戶：{{ user }}</p>
      <a class="btn" href="{% url 'carts:index' %}">查看購物車</a>
      {% endif %}
    </div>
    <a class="btn" href="{% url 'products:index' %}">商品</a>
    <a class="btn" href="{% url 'stores:index' %}">商家</a>
    <a class="btn" href="{% url 'members:index' %}">會員</a>
    <a class="btn" href="{% url 'orders:index' %}">訂單</a>
    {% block main %}{% endblock main %}
  </body>
</html>
