{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitCal</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}" />
    <script type="module" src="{% static 'assets/scripts/app.js' %}"></script>
  </head>
  <body>
    <section class="max-w-5xl mx-auto">
      {% include "shared/messages.html" %} {% if user.is_authenticated %}
      <div class="flex justify-end">
        <h2 class="text-blue-500">user email: {{ user }}</h2>
        <form action="{% url "users:delete_session" %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">登出</button>
        </form>
      </div>
      {% else %}
      <a href="{% url "users:sign_in" %}" class="btn">登入/註冊</a>
      {% endif %}
      <div class="flex justify-end text-blue-500">
        {% if user.is_authenticated %}
        <a class="btn" href="{% url 'carts:index' %}">查看購物車</a>
        {% endif %}
      </div>
      <a class="btn" href="{% url 'products:index' %}">商品</a>
      <a class="btn" href="{% url 'stores:index' %}">商家</a>
      <a class="btn" href="{% url 'members:index' %}">會員</a>
      <a class="btn" href="{% url 'orders:index' %}">訂單</a>
      {% block main %}{% endblock main %}
    </section>
  </body>
</html>
