<h1>編輯：{{ store.id }}</h1>

<form action="{% url 'stores:edit' store.id %}" method="post">
  {% csrf_token %} {% for field in form %}
  <div>
    {{ field.label_tag }} {{ field }} {% if field.errors %}
    <div style="color: red">
      {% for error in field.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% endfor %}

  <input type="submit" value="更新店家" />
</form>

<a href="{% url 'stores:show' store.id %}">回上一頁</a>
<a href="{% url 'stores:index' %}">回店家列表</a>
