{% extends 'layouts/default.html' %} {% block main %}
<h1>新增店家</h1>

<form method="POST" action="{% url 'stores:create_store' %}">
  {% csrf_token %} {% for field in form %}
  <div>
    {{ field.label_tag }} {{ field }} {% if field.errors %}
    <div style="color: red">
      {% for error in field.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="新增店家" />
</form>

<a href="{% url 'stores:index' %}">店家列表</a>
{% endblock main %}
