{% extends "layouts/default.html" %} {% block main %}
<h1>{{ user }}的購物車列表</h1>
<a href="{% url 'carts:new' %}" class="block btn">新增購物車商品</a>
{% for cart in carts %}
<a class="block border-2 pb-2 ml-4 mb-3" href="{% url 'carts:show' cart.id %}">{{ cart.store.address }}商家</a>
<form action="{% url 'carts:delete_cart' cart.id %}" method="post" onsubmit="return confirm('是否要刪除？')">
  {% csrf_token %}
  <button class="btn" type="submit">刪除</button>
</form>
{% empty %}
<p>購物車無商品</p>
{% endfor %} {% endblock main %}
