{% extends "layouts/default.html" %} {% block main %}
<h2>新增商品到購物車</h2>
<form action="{% url 'carts:index' %}" method="post">
  {% csrf_token %}
  <!-- 單一 cart 表單 -->
  {{ cart_form.non_field_errors }} {% for field in cart_form %}
  <div class="border-2 w-fit">{{ field.label_tag }} {{ field }} {{ field.errors }}</div>
  {% endfor %}

  <hr />

  <!-- 多個 cart item 表單 -->
  {{ formset.management_form }} {% for form in formset %} {{ form.non_field_errors }}
  <div>
    {% for field in form %} {% if field.name != "cart" and field.name != "id" %}
    <div class="border-2 w-fit">{{ field.label_tag }} {{ field }} {{ field.errors }}</div>
    {% endif %} {% endfor %}
  </div>
  {% endfor %}

  <button class="btn" type="submit">加入購物車</button>
</form>
{% endblock main %}
