{% extends "layouts/default.html" %} {% load datetime_format %} {% load model_display %}

<!-- prettier-ignore -->
{% block main %}
<h1>訂單列表</h1>

<a href="{% url 'orders:new' %}">建立訂單</a>

<ul>
  {% for order in orders %}
  <li>
    <a href="{% url 'orders:show' order.id %}">
      <h3>訂單編號: {{ order.id }}</h3>
      <h3>預計取貨時間: {{ order.pickup_time|datetime_format }}</h3>
      <h3>訂單狀態: {{ order|get_display:"order_status" }}</h3>
      <h3>付款狀態: {{ order|get_display:"payment_status" }}</h3>
      <h3>總金額: {{ order.total_price }}</h3>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
