{% load datetime_format %} {% load model_display %}

<h1>訂單</h1>

<h2>訂單編號: {{ order.id }}</h2>
<h2>預計取貨時間:{{ order.pickup_time|datetime_format }}</h2>
<h2>訂單狀態: {{ order|get_display:"order_status" }}</h2>
<h2>付款狀態: {{ order|get_display:"payment_status" }}</h2>
<h2>總金額: {{ order.total_price }}</h2>

<a href="{% url 'orders:index' %}">回上一頁</a>

<a href="{% url 'orders:edit' order.id %}">更新訂單狀態</a>

<form
  action="{% url 'orders:delete' order.id %}"
  method="post"
  onsubmit="return confirm('確定要刪除？')"
>
  {% csrf_token %}
  <button>刪除</button>
</form>
