{% extends "layouts/default.html" %} {% block main %}
<h1>請選擇您的身份</h1>

<a href="{% url 'users:sign_up' %}?role=store">
  <h2>賣 FitCal</h2>
</a>

<a href="{% url 'users:sign_up' %}?role=member">
  <h2>買 FitCal</h2>
</a>

<hr />

{% if not request.user.is_authenticated %}

<form method="GET" action="{% url 'users:sign_in' %}">
  <button type="submit">已有帳號？請登入</button>
</form>
{% else %}

<form method="POST" action="{% url 'users:delete_session' %}">
  {% csrf_token %}
  <button type="submit">登出</button>
</form>
{% endif %}{% endblock %}
