{% extends 'layouts/default.html' %} {% block main %}
<h1>快速註冊</h1>
<form method="post" action="{% url 'users:create_user' %}">
  {% csrf_token %}

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}
  <label class="label cursor-pointer">
    <span class="label-text">會員</span>
    <input type="radio" name="role" value="member" class="radio checked:bg-blue-500" checked>
  </label>

  <label class="label cursor-pointer">
    <span class="label-text">店家</span>
    <input type="radio" name="role" value="store" class="radio checked:bg-blue-500">
  </label>
  {% for field in userform %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.errors %}
      <div style="color:red;">{{ field.errors }}</div>
      {% endif %}
    </p>
  {% endfor %}

 


  <button class="btn" type="submit">註冊</button>
</form>

{% if request.user.is_authenticated %}
  <form method="POST" action="{% url 'users:delete_session' %}" style="margin-top: 1rem;">
    {% csrf_token %}
    <button class="btn" type="submit">登出</button>
  </form>
{% endif %}

{% endblock main %}
