{% extends 'layouts/default.html' %} {% block main %}
<h1>快速註冊</h1>
<p><a href="{% url 'users:select_role' %}">重新選擇身份</a></p>
<form method="post" action="{% url 'users:create_user' %}">
  {% csrf_token %}

  <input type="hidden" name="role" value="{{ role }}">

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  {% for field in userform %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.errors %}
      <div style="color:red;">{{ field.errors }}</div>
      {% endif %}
    </p>
  {% endfor %}

 


  <button type="submit">註冊</button>
</form>

{% if request.user.is_authenticated %}
  <form method="POST" action="{% url 'users:delete_session' %}" style="margin-top: 1rem;">
    {% csrf_token %}
    <button type="submit">登出</button>
  </form>
{% endif %}

{% endblock %}
